.div-footer {
  // text-align: center;
  // padding-top: 30px;
  // margin-top: 40px;
  // position: fixed;
  // bottom: 0;
  // width: 100%;
}

.app-footer-con {
  justify-content: flex-end;
  background-color: #ccc;
}

.app-footer-con span {
  font-size: 14px;
}
